.calc
{
    width: 400px;
    height: 600px;
    background-color: gray;
    margin-left: 440px;
}

#screen
{
    width: 85%;
    height: 60px;
    margin-left: 30px;
    margin-top: 30px;
    pointer-events: none;
}

.btn
{
    width: 45px;
    height: 45px;
    margin-left: 30px;
    margin-top: 15px;
    padding: 25px;
}